header {
  padding-left:10px;
  display:flex;
  align-items:baseline;
  justify-content:space-around;
  background: linear-gradient(#706677, 75%, #565264); 
}
h1 {
  font-size: 40px;
  color: #d6cfcb;
  width: 75%;
}
.link {
  color: #d6cfcb;
  text-decoration: none;
}